.pip-text-wrap-menu {
    word-wrap: break-word;
    white-space:normal;
    line-height: 1.5;
}

.pip-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pip-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pip-form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.pip-form-control:-ms-input-placeholder {
    color: #999999;
}
.pip-form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control:child {
    padding: 6px 12px;
    background-image: none;
    line-height: 1.42857143;
    color: #555555;
    border: 1px solid #cccccc;
}